<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuários</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/usuarios.css}">
</head>
<body>

<div class="container">
    <h1>Usuários</h1>

    <div class="back-button">
        <a href="/dashboard">
            <span class="icon">&#8592;</span> Voltar
        </a>
    </div>
    
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario?.nome ?: 'Nome não disponível'}">Nome Teste</td>
            <td th:text="${usuario?.cargo?.nome ?: 'Cargo não disponível'}">Cargo Teste</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
