<div class="sidebar bg-dark" th:fragment="sidebar">
    <ul class="nav flex-column">
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/admins"><i class="fas fa-user-shield"></i> <span class="link-text">Administradores</span></a>-->
<!--        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/usuarios"><i class="fas fa-users"></i> <span class="link-text">Usuários</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/feedbacks"><i class="fas fa-comments"></i> <span class="link-text">Feedbacks</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/clientes"><i class="fas fa-briefcase"></i> <span class="link-text">Clientes</span></a>
        </li>
    </ul>
</div>
