<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Feedback</title>
    <link rel="stylesheet" th:href="@{/css/feedback.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">

            <a href="/feedbacks" class="btn btn-secondary mb-3">Voltar</a>

            <h1>Criar Novo Feedback</h1>
            <form th:action="@{/feedbacks}" th:object="${feedback}" method="post">
                <div class="form-group">
                    <label for="descricao">Comentário:</label>
                    <textarea id="descricao" th:field="*{descricao}" class="form-control" required></textarea>
                </div>

                <div class="form-group">
                    <label for="nota">Rating:</label>
                    <input type="number" id="nota" th:field="*{nota}" class="form-control" required min="1" max="5">
                </div>

                <div class="form-group">
                    <label for="usuario">Usuário:</label>
                    <select id="usuario" name="usuario" th:field="*{usuario.id}" class="form-control" required>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nome}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Salvar Feedback</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
